.navcontainer {
    font-family: "IMB Plex Mono";
    font-weight: 800;
    top: 0px;
    width: 98%;
}

.navcontainer img {
    height: 42px;
    width: 42px;
}

header {
    background-color: black;
    left: 1%;
    position: fixed;
    top: 0%;
    width: 98%;
}

nav {
    float: left;
}

nav ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
    position: relative;
    text-align: center;
}

nav li:hover {
    color: white;
}

nav a {
    color: white;
    font-family: 'IBM Plex Mono';
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #ee6fa8;
}

nav a::before {
    background-color: #ee6fa8;
    content: '';
    display: block;
    height: 5px;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
    width: 0%;
}

nav a:hover::before {
    width: 100%;
}

.logo {
    height: 42px;
    padding: 0 0 0 20px;
    width: 42px;
}