.navcontainer {
    top: 0px;
    width: 98%;
    font-family: "IMB Plex Mono";
    font-weight: 800;
}

.navcontainer img {
    width: 42px;
    height: 42px;
    
}

header {
    background-color: black;
    position: fixed;
    top: 0%;
    width: 98%;
    left: 1%;
}

/*header::after {
    content: '';
    display: table;
    clear: both;
}*/

nav {
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
}

nav a {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 23px;
    position: relative;
}

nav li:hover {
    color: white;
}

nav a {
    font-family: 'IBM Plex Mono';
    font-weight: 300;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav a:hover {
    color: #ee6fa8;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #ee6fa8;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.logo {
    width: 42px;
    height: 42px;
    padding: 0 0 0 20px;
}