* {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
}

body {
    margin-top: 80px;
}

.task-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    margin-top: 5px;
}

.event-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    margin-top: 5px;
}

.day-container {
    background-color:#1F1F1F;
    border-radius: 20px;
    color: white;
    font-weight: 800;
    height: 100px;
    position: relative;
    text-align: left;
    width: 100px;
}

.date-value {
    display: block;
    left: 10px;
    position: absolute;
    top: 10px;
}

.table {
    background-color: #000000;
    border-spacing: 20px;
    margin-left: auto;
    margin-right: auto;
}

.weekday {
    color: white;
    text-align: center;
}

.week-number {
    color: white;
    text-align: center;
}

.day-container:has(.qexam) {
    background-color: #666666;
}

.instructions {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: center;
}